<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> 
<form  #CForm="ngForm" style="text-align:center">
  <button type="submit" (click)="Create()">Create</button>
  <button type="submit" (click)="GetData()"> Get Details</button>
		
<div class="container" *ngIf="!IsCreation">
	<div class="card bg-light">
		<article class="card-body mx-auto">
	<div class="form-group input-group">
		<div class="input-group-prepend">
			<span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
		<input name="id" class="form-control" placeholder="Id" type="number" [(ngModel)]="Creation.Id">
	</div>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
        <input name="fname" class="form-control" placeholder="First Name" type="text" [(ngModel)]="Creation.FirstName">
  </div> <!-- form-group// -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="lname" class="form-control" placeholder="Last Name" type="text" [(ngModel)]="Creation.LastName">
      </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
		 </div>
        <input name="date" class="form-control" placeholder="Select Date" type="date" [(ngModel)]="Creation.Date">
    </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" class="form-control" required placeholder="Email address" type="email" [(ngModel)]="Creation.Email">
    </div>
    <div class="form-group">
		<button type="submit" class="btn btn-primary btn-block" [hidden]="Submit==0" [disabled]="!CForm.valid" (click)="Save()"> Save  </button>
		<button type="submit" class="btn btn-primary btn-block" [hidden]="Submit==1" [disabled]="!CForm.valid" (click)="Update()"> Update  </button>
    </div> 
    </article>
	</div> 
</div> 	
<div *ngIf="IsCreation">
		<table align="center" border="1">
			<tr>
				<th>Id</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Date</th>
				<th>Email</th>
				<th>Action</th>
			</tr>	
			<tr *ngFor="let item of itemData">
				<td>{{item.Id}}</td>
				<td>{{item.FirstName}}</td>
				<td>{{item.LastName}}</td>
				<td>{{item.Date|date}}</td>
				<td>{{item.Email}}</td>
				<td>
					<button type="submit" (click)="Edit(item.Id)">Edit</button>
					<button type="submit" (click)="View(item.Id)">View</button>
					<button type="submit" (click)="Delete(item.Id)">Delete</button>
				</td>
			</tr>
		</table>
	</div>
</form>		