<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> 
<form  #CForm="ngForm">
  <h4 style="text-align:center">Delivery Info</h4>
<div class="container" *ngIf="!IsCreation">
	<div class="card bg-light">
		<article class="card-body mx-auto">
			<div class="form-group">
				<label>H.No</label>
				<input name="hno" id="hno" class="form-control" placeholder="Enter your H.No" type="text" [(ngModel)]="Creation.HNo">
			</div>
			<div class="form-group">
				<label>Pincode</label>
				<input name="pincode" id="pincode" class="form-control" placeholder="Enter your pincode" type="number" [(ngModel)]="Creation.Pincode">
			</div>
			<div class="form-group">
				<label>City</label>
				<input name="city" id="city" class="form-control" placeholder="Enter your city" type="text" [(ngModel)]="Creation.City">
			</div>
			<div class="form-group">
				<label>State</label>
				<input name="state" id="state" class="form-control" placeholder="Enter your state" type="text" [(ngModel)]="Creation.State">
			</div>
			<div class="form-group">
				<label>Landmark</label>
				<input name="landmark" id="landmark" class="form-control" placeholder="Enter your landmark" type="text" [(ngModel)]="Creation.Landmark">
			</div>
			<div class="form-group">
				<label>Name</label>
				<input name="pname" id="pname" class="form-control" placeholder="Enter your name" type="text" [(ngModel)]="Creation.Name">
			</div>
			<div class="form-group">
				<label>Mobileno</label>
				<input name="mobileno" id="mobileno" class="form-control" placeholder="Enter your mobileno" type="number" [(ngModel)]="Creation.Mobileno">
			</div>
    <div class="form-group">
		<button type="submit" class="btn btn-primary btn-block" [hidden]="Submit==0" [disabled]="!CForm.valid" (click)="Save()"> Save  </button>
		<button type="submit" class="btn btn-primary btn-block" [hidden]="Submit==1" [disabled]="!CForm.valid" (click)="Update()"> Update  </button>
    </div> 
    </article>
	</div> 
</div> 	
<div *ngIf="IsCreation">
		<table align="center" border="1">
			<tr>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Rate</th>
				<th>Amount</th>
			</tr>	
			<tr *ngFor="let item of itemData">
				<td>{{item.ProductName}}</td>
				<td>{{item.Quantity}}</td>
				<td>{{item.Rate}}</td>
				<td>{{item.Amount}}</td>
				<td>
					<button type="submit" (click)="Edit(item.ProductId)">Edit</button>
					<button type="submit" (click)="View(item.ProductId)">View</button>
					<button type="submit" (click)="Delete(item.ProductId)">Delete</button>
				</td>
			</tr>
		</table>
	</div>
</form>		